/***************GENERAL***************/

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto Mono", monospace;
  user-select: none;
  height: 100vh;
  width: 100vw;
  transition: background 0.3s;
}

/***************NAVIGATION BAR***************/

body > header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90px;
  padding-top: 30px;
}

body > header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  width: 85%;
  border-radius: 50px;
}

nav div {
  display: flex;
  align-items: center;
}

.logo {
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
  font-size: 35px;
  margin-right: 10px;
}

nav li {
  margin: 0px 15px;
}

nav li {
  display: inline-block;
  cursor: pointer;
}

nav > ul > li {
  font-size: 14px;
  color: rgb(89, 97, 114);
  transition: color 0.2s;
}

nav li {
  display: inline-block;
  cursor: pointer;
}

label {
  cursor: pointer;
}

i {
  color: rgb(89, 97, 114);
  transition: color 0.2s;
}

nav li span {
  font-size: 14px;
  color: rgb(89, 97, 114);
}

.time {
  outline: none;
  padding: 8px 13px;
  border-radius: 10px;
  border: none;
}

/***************MAIN CONTENT***************/

main {
  height: calc(100vh - 180px);
}

main header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  position: relative;
}

main header > div {
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 85%;
  align-items: center;
  justify-content: center;
}

.text {
  flex-basis: 1000px;
  height: 170px;
  text-align: left;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text p {
  font-size: 24px;
  font-family: "Roboto Mono", monospace;
  line-height: 1.6;
}

.stats {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.stat {
  margin: 0 30px;
}

.stat h2 {
  font-size: 25px;
  margin-bottom: 1px;
}

.stat p {
  color: rgb(89, 97, 114);
  font-size: 20px;
}

/***************FOOTER***************/

footer {
  max-width: 500px;
  width: 95%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  height: 78px;
  display: flex;
  align-items: center;
}

/***************RESULTS***************/

.results {
  justify-content: center;
  height: 100%;
  align-items: center;
  display: none;
}

.result {
  margin: 0 50px;
}

.result p {
  color: rgb(89, 97, 114);
  font-size: 40px;
}

.result h2 {
  font-size: 70px;
}

/***************KEYBOARD***************/

.keyboard {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 1000px;
  padding: 25px;
  border-radius: 10px;
}

.wrapper .keys {
  display: flex;
  justify-content: center;
}

.wrapper .keys div {
  height: 50px;
  width: 50px;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.wrapper .keys div.pressed {
  font-size: 19px;
}

.wrapper .keys div[value="SPACE"] {
  width: 60%;
}

/***************LEADERBOARD***************/

.card {
  height: 70vh;
  width: 70%;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-align: center;
  border-radius: 20px;
  display: none;
}

.settings {
  justify-content: left;
  align-items: flex-start;
  padding: 100px;
  text-align: left;
}

.settings h2 {
  opacity: 0.7;
  font-size: 30px;
  margin-bottom: 10px;
}

.themes input {
  opacity: 0;
  position: absolute;
}

.themes label {
  font-size: 20px;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.themes label[for="light"] {
  background-color: #efe8e6;
  color: rgb(22, 22, 22);
}

.themes label[for="dark"] {
  background-color: rgb(22, 22, 22);
  color: #af8750;
}

.overlay,
.mobile-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
}

.overlay {
  display: none;
}

.mobile-overlay {
  display: none;
  transition: opacity 0.8s;
}

.mobile-overlay.visible {
  display: block;
}

.user-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid;
  width: 100%;
  outline: none;
  font-size: 30px;
  color: rgb(22, 22, 22);
  text-align: center;
  font-family: "Roboto Mono", monospace;
}

.incorrect {
  color: rgb(255, 85, 85);
  text-decoration: underline;
}

.capslock {
  height: 50px;
  width: 150px;
  background-color: rgb(22, 22, 22);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
  visibility: hidden;
}

/***************FORMS***************/

.profile {
  justify-content: space-evenly;
  text-align: left;
  flex-wrap: wrap;
}

form p {
  font-size: 16px;
  margin-bottom: 20px;
}

form input {
  display: block;
}

form input {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  color: #fff;
  padding: 10px;
}

form input::placeholder {
  color: rgb(89, 97, 114);
}

form input[type="submit"] {
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

/***************USER STATS***************/

.user-stats {
  justify-content: center;
  height: 100%;
  align-items: center;
  display: none;
  text-align: left;
  flex-wrap: wrap;
}

table {
  width: 60%;
  height: 200px;
}

.all-results tbody {
  display: block;
  height: 488px;
  overflow: auto;
}

.all-results tbody::-webkit-scrollbar {
  display: none;
}

th {
  color: rgb(89, 97, 114);
}

tr {
  display: flex;
  width: 100%;
  height: 61px;
  justify-content: space-evenly;
  align-items: center;
}

td {
  color: rgb(22, 22, 22);
}

.sign-out {
  background-color: transparent;
  color: rgb(89, 97, 114);
  border: none;
  outline: none;
  font-size: 14px;
  font-family: "Roboto Mono", monospace;
  cursor: pointer;
  display: none;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox:checked + .hamburger {
  transform: rotateZ(360deg);
}

.mobile-navigation {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 200px;
  position: absolute;
  right: -200px;
  top: 0;
  z-index: 1;
  transition: right 0.8s;
  display: none;
  border-radius: 0px;
}

.mobile-navigation.onscreen {
  right: 0;
  display: block;
}

.hamburger {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  z-index: 1;
  transition: transform 0.8s;
  display: none;
}

.hamburger i {
  font-size: 20px;
}

.mobile-navigation ul {
  padding-left: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.mobile-navigation li {
  display: block;
}

/***************LIGHT MODE***************/

body.light {
  background-color: #efe8e6;
  color: #26243d;
}

body.light .time {
  background-color: #dfd8d6;
}

body.light li i:hover {
  color: #dfd8d6;
}

body.light .text {
  color: rgb(22, 22, 22);
}

body.light .correct {
  color: #dfd8d6;
}

body.light .user-input {
  color: rgb(22, 22, 22);
  border-bottom-color: #dfd8d6;
}

body.light .wrapper {
  background-color: #dfd8d6;
}

body.light .keys div {
  background-color: #efefee;
  color: rgb(22, 22, 22);
}

body.light .keys div.pressed {
  background-color: #e4e4e4;
}

body.light footer {
  background-color: #dfd8d6;
}

body.light .card {
  background-color: #dfd8d6;
}

body.light td {
  color: rgb(22, 22, 22);
}

body.light tbody tr:nth-child(odd) {
  background-color: #dfd8d6;
}

body.light .hamburger i {
  color: rgb(22, 22, 22);
}

body.light .capslock p,
body.light .capslock i {
  font-size: 16px;
  color: #fff;
}

/****************DARK MODE***************/

body.dark {
  background-color: #242933;
  color: #af8750;
}

body.dark .time {
  background-color: rgb(27, 31, 38);
  color: #fff;
}

body.dark li i:hover {
  color: #af8750;
}

body.dark .text {
  color: rgb(89, 97, 114);
}

body.dark .correct {
  color: #fff;
}

body.dark .user-input {
  color: #fff;
  border-bottom-color: #fff;
}

body.dark .wrapper {
  background-color: rgb(43, 49, 59);
}

body.dark .keys div {
  background-color: #af8750;
  color: #fff;
}

body.dark .keys div.pressed {
  background-color: rgb(22, 22, 22);
}

body.dark footer {
  background-color: rgb(27, 31, 38);
}

body.dark .card {
  background-color: rgb(27, 31, 38);
}

body.dark td {
  color: #fff;
}

body.dark tbody tr:nth-child(odd) {
  background-color: rgb(27, 31, 38);
}

body.dark .hamburger i {
  color: #fff;
}

body.dark .capslock {
  background-color: #af8750;
}

body.dark .capslock p,
body.dark .capslock i {
  font-size: 16px;
  color: #fff;
}

/***************MEDIA QUERIES***************/

@media only screen and (max-width: 670px) {
  nav > ul {
    display: none;
  }

  .logo {
    margin: 0;
    display: inline-block;
    margin-bottom: 10px;
  }

  nav > div ul {
    text-align: left;
  }

  nav > div li {
    margin: 0;
    margin-left: 5px;
    margin-right: 10px;
  }

  .hamburger {
    display: inline-block;
  }

  .result p {
    font-size: 25px;
  }

  .result h2 {
    font-size: 55px;
  }

  nav > div {
    display: block;
  }
}

@media only screen and (max-width: 585px) {
  .keyboard {
    display: none;
  }
}

@media only screen and (max-height: 767px) {
  .keyboard {
    margin-bottom: 25px;
  }
}

@media only screen and (max-height: 727px) {
  .keyboard {
    margin-bottom: 45px;
  }
}

@media only screen and (max-height: 690px) {
  .keyboard {
    display: none;
  }

  main header > div {
    height: 450px;
  }
}

@media only screen and (max-height: 540px) {
  main header > div {
    height: 340px;
  }
}

@media only screen and (max-height: 470px) {
  main header > div {
    height: 270px;
  }
}

@media only screen and (max-height: 425px) {
  main header > div {
    height: 200px;
  }
}

@media only screen and (max-height: 425px) {
  footer {
    display: none;
  }
}
